<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"  		m-menu-vertical="1" 		 m-menu-scrollable="0" m-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__section m-menu__section--first" >
				<h2 class="m-menu__section-text" style="font-size:1.2rem!important">
					Búsqueda avanzada
				</h2>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__section m-menu__section--first">
				<h3 class="m-menu__section-text">
					{{facets.num_found}} resultados
				</h3>
			</li>

			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-layers"></i>
					<span class="m-menu__link-text">
						Marca
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Marca
								</span>
							</span>
						</li>
						
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" *ngFor="let facet of facets.facets?.make">
							 
							<label class="m-checkbox m-checkbox--check-bold m-checkbox--state-brand" style="margin-left: 50px;">
								<input type="checkbox" [(ngModel)]="facet.isChecked" (change)="checkMake(facet.isChecked?facet.item:facet.item,facet.isChecked?true:false)"> {{ facet.item }} ({{ facet.count }})
								<span></span>
							</label>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-layers"></i>
					<span class="m-menu__link-text">
						Modelo
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									 Modelo
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" *ngFor="let facet of facets.facets?.model">
							<label class="m-checkbox m-checkbox--check-bold m-checkbox--state-brand" style="margin-left: 50px;">
								<input type="checkbox" [(ngModel)]="facet.isChecked" (change)="checkModel(facet.isChecked?facet.item:facet.item,facet.isChecked?true:false)"> {{ facet.item }} ({{ facet.count }})
								<span></span>
							</label>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-layers"></i>
					<span class="m-menu__link-text">
						Año
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Año
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" *ngFor="let facet of facets.facets?.year">
							<label class="m-checkbox m-checkbox--check-bold m-checkbox--state-brand" style="margin-left: 50px;">
								<input type="checkbox" [(ngModel)]="facet.isChecked" (change)="checkYear(facet.isChecked?facet.item:facet.item,facet.isChecked?true:false)"> {{ facet.item }} ({{ facet.count }})
								<span></span>
							</label>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
