<div class="row">
    <div class="col-lg-3">
        <app-aside-nav (onFilter)="getSearch($event)"></app-aside-nav>
    </div>
    <div class="col-lg-9">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile" id="main_portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-progress">

                    <!-- here can place a progress bar-->
                </div>
                <div class="m-portlet__head-wrapper">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-search"></i>
                            </span>
                            <!-- <h3 class="m-portlet__head-text"> -->
                                <input type="text" (keydown)="search($event)" class="form-control m-input" placeholder="Busqueda...">
                            <!-- </h3> -->
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary  m-btn m-btn--icon m-btn--wide m-btn--md">
                                <span>
                                    <i class="la la-arrows-v"></i>
                                    <span>Ordenar</span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-secondary  dropdown-toggle dropdown-toggle-split m-btn m-btn--md" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-6px, 49px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" (click)="setSort('fav')" style="cursor:pointer">
                                    <i class="la la-star-o"></i>Mas Relevantes</a>
                                <a class="dropdown-item" (click)="setSort('desc')" style="cursor:pointer">
                                    <i class="la la-sort-amount-desc"></i>Mayor Precio</a>
                                <a class="dropdown-item" (click)="setSort('asc')" style="cursor:pointer">
                                    <i class="la la-sort-amount-asc"></i>Menor Precio</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="m-portlet__body" style="background: #f4f3f9">
                <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div *ngFor="let car of cars.listings" class="col-xl-3">
                                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                                    <div class="m-portlet__head m-portlet__head--fit" style="height: 5rem !important;">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-action">
                                                <button type="button" class="btn btn-sm m-btn--pill  btn-brand" *ngIf="car.build">
                                                    {{ car.build.vehicle_type }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        <div class="m-widget19">
                                            <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                                <img [src]="car.media['photo_links'][0]" alt="" *ngIf="car.media['photo_links'][0] ">
                                                <img src="../../assets/img/util/no-photo.png" alt="" *ngIf="!car.media['photo_links'][0]">
                                                <h5 class="m-widget19__title m--font-light">
                                                    {{ car.heading }}
                                                </h5>
                                                <div class="m-widget19__shadow"></div>
                                            </div>
                                            <div class="m-widget19__content">
                                                <div class="m-widget19__header">
                                                    
                                                    <div class="m-widget19__info" style="padding-left: 0rem!important">
                                                        <span class="m-widget19__username" style="font-size:1rem !important;">
                                                            {{ car.dealer.city }}
                                                        </span>
                                                        <br>
                                                        <span class="m-widget19__time" style="font-size:0.7rem !important">
                                                            {{ car.dealer.phone }}
                                                        </span>
                                                    </div>
                                                    <div class="m-widget19__stats">
                                                        <span class="m-widget19__number m--font-brand" style="font-size:1.2rem !important">
                                                            {{car.price | currency}}
                                                        </span>
                                                        <span class="m-widget19__comment" *ngIf="car.build">
                                                            {{car.build.year}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="m-widget19__body">
                                                    {{car.dealer.name}}
                                                    <br> {{car.dealer.website}}
                                                </div>
                                            </div>
                                            <div class="m-widget19__action">
                                                <a routerLink="/car/{{car.id}}" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                                    Ver Mas...
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end:: Widgets/Blog-->
                            </div>
                        <div *ngIf="cars.listings?.length < 1">
                                <h3>Sin resultados :(</h3>
                        </div>
                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end::Portlet-->
</div>

