<!-- BEGIN: Subheader -->
<!-- <div *ngIf="auth.user | async; then authenticated else gest">

</div> -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Mi Perfil
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" *ngIf="auth.user$ | async as user">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img [src]="user.photoURL" alt=""/>
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								 {{ user.displayName }}
							</span>
							<a href="" class="m-card-profile__email m-link">
								 {{ user.email }}
							</a>
							<br>
							<span class="m-card-profile__email" *ngIf="user.roles.subscriber && !user.roles.admin">
								<span class="m-badge m-badge--success m-badge--wide">Subscriptor</span>
							</span>
							<span class="m-card-profile__email" *ngIf="user.roles.admin">
								<span class="m-badge m-badge--success m-badge--wide">Administrador</span>
							</span>
							<span class="m-card-profile__email">
								<strong>UID:</strong> {{ user.uid }}
							</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Compras
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
