

<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item    m-header"  m-minimize-offset="200" m-minimize-mobile-offset="200" appunwraptag="" >
	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand  m-brand--skin-light">
				<div class="m-stack m-stack--ver m-stack--general m-stack--fluid">
					<div class="m-stack__item m-stack__item--middle m-brand__logo">
						<a routerLink="/index" class="m-brand__logo-wrapper">
							<img alt="" src="./assets/img/logo/logo.png" style="width: 150px;height: 80px;"/>
						</a>
					</div>
					<div class="m-stack__item m-stack__item--middle m-brand__tools">

						
							
						

						<!-- BEGIN: Responsive Aside Left Menu Toggler -->
						<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END --> 				  			<!-- BEGIN: Topbar Toggler -->
						<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
							<i class="flaticon-more"></i>
						</a>
						<!-- BEGIN: Topbar Toggler -->

						


					</div>
				</div>
			</div>
			<!-- END: Brand -->
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
				<!-- BEGIN: Topbar -->
				<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-topbar__nav-wrapper">
						<ul class="m-topbar__nav m-nav m-nav--inline">
							
							<div *ngIf="auth.user$ | async; then authenticated else guest">
							
							</div>
							
							<ng-template #guest>
								<button (click)="auth.googleLogin()" class="loginBtn loginBtn--google">
									<!-- <span class="fa fa-google"> Sign In</span> -->
										Login with Google
								</button>
							</ng-template>

							<ng-template #authenticated>
								<li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click" *ngIf="auth.user$ | async as user">
									
									<a href="#" class="m-nav__link m-dropdown__toggle">
										<span class="m-topbar__userpic">
											<img [src]="user.photoURL" class="m--img-rounded m--marginless m--img-centered" alt=""/>
										</span>
										<span class="m-nav__link-icon m-topbar__usericon  m--hide">
											<span class="m-nav__link-icon-wrapper">
												<i class="flaticon-user-ok"></i>
											</span>
										</span>
										<span class="m-topbar__username m--hide">
											{{ user.displayName }}
										</span>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__header m--align-center">
												<div class="m-card-user m-card-user--skin-light">
													<div class="m-card-user__pic">
														<img [src]="user.photoURL" class="m--img-rounded m--marginless" alt=""/>
													</div>
													<div class="m-card-user__details">
														<span class="m-card-user__name m--font-weight-500">
															 {{ user.displayName }}
														</span>
														<a href="" class="m-card-user__email m--font-weight-300 m-link">
															{{ user.email }}
														</a>
													</div>
												</div>
											</div>
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav m-nav--skin-light">
														<li class="m-nav__section m--hide">
															<span class="m-nav__section-text">
																Section
															</span>
														</li>
														<li class="m-nav__item">
															<a routerLink="/profile" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-avatar"></i>
																<span class="m-nav__link-title">
																	<span class="m-nav__link-wrap">
																		<span class="m-nav__link-text">
																			Mi Perfil
																		</span>
																	</span>
																</span>
															</a>
														</li>

														<li class="m-nav__item" *ngIf="user.roles.admin">
															<a routerLink="/config" class="m-nav__link">
																<i class="m-nav__link-icon  flaticon-cogwheel-2"></i>
																<span class="m-nav__link-text">
																	Configuración
																</span>
															</a>
														</li>

														<li class="m-nav__separator m-nav__separator--fit"></li>
														<li class="m-nav__item">
															<!-- <a routerLink="/snippets/pages/user/login-1" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout"> -->
															<a (click)="auth.signOut()" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="">
																Cerrar Sesion
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ng-template>
							
						</ul>
					</div>
				</div>
				<!-- END: Topbar -->
			</div>
		</div>
	</div>
	
</header>
<!-- END: Header -->
